@charset "UTF-8";
.boons {
	display: flex;
	position: fixed;
	flex-direction: column;
	flex: 1;
	gap: 10px 0;
	width: 850px;
	padding: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}
.boons__header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.boons__header h2 {
	width: 200px;
}
.boons__fieldset, .boons__label, .boons__checkbox {
	all: revert;
}
.boons__fieldset {
	border: 2px solid #4c658c;
	border-radius: 4px;
	margin: 0;
}
.boons__fieldset > div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0 10px;
	padding-top: 5px;
}
.boons__legend {
	font-variant-caps: all-small-caps;
	padding: 0 5px;
	letter-spacing: 1px;
	font-size: 1.7rem;
}
.boons__label {
	display: flex;
	font-size: 1.5rem;
	transition: color .15s ease;
}
@media (hover: hover) {
	.boons__label:hover {
		cursor: pointer;
		color: gold;
	}
}
.boons__checkbox {
	margin-right: 5px;
}
@media (hover: hover) {
	.boons__checkbox:hover {
		cursor: pointer;
	}
}
.boons__checkbox:focus {
	outline: transparent;
}
.boons__p {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #000;
	padding: 5px;
	font-size: 1.5rem;
	height: 100px;
	flex-shrink: 0;
}
@media screen and (max-width: 919px) {
	.boons {
		width: 100vw;
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		border-radius: 0;
		top: 0;
		left: 0;
		transform: translate(0, 0);
		overflow-y: auto;
		overscroll-behavior-y: contain;
	}
	@supports (height: 100dvh) {
		.boons {
			height: 100dvh;
		}
	}
}
@media screen and (max-width: 639px) {
	.boons__fieldset > div {
		grid-template-columns: 1fr 1fr;
		max-height: 220px;
		overflow-y: auto;
	}
}
@media screen and (max-height: 729px) {
	.boons__fieldset > div {
		height: calc(calc(100vh - 280px) / 2);
	}
}
@media screen and (max-width: 439px) {
	.boons__fieldset > div {
		grid-template-columns: 1fr;
	}
}