@charset "UTF-8";
.build-information {
	display: flex;
	flex-direction: column;
	gap: 15px 0;
	min-width: 600px;
	width: 100%;
}
.current-character {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
	height: min-content;
	padding: 5px;
}
.current-character dd {
	font-size: 1.5rem;
}
.current-character__dl--right {
	text-align: right;
}
.current-character__dl--middle {
	text-align: right;
}
.current-character__dl--left {
	overflow: hidden;
}
.current-character__name {
	overflow: hidden;
	text-overflow: ellipsis;
}
.info-win {
	height: 485px;
	overflow-y: auto;
}
.nothing-there-yet {
	margin: auto;
	text-align: center;
}
.info-win__wrapper {
	height: 100%;
}
.info-win__wrapper > section {
	padding: 5px;
}
.info-win-tabs {
	display: flex;
	justify-content: center;
	gap: 0 15px;
}
.info-win-tabs__tab {
	font-size: 1.4rem;
	padding: 5px;
	font-variant: small-caps;
	letter-spacing: 2px;
	width: 25%;
	transition: letter-spacing .15s ease, border-color .15s ease;
}
.character-skills {
	display: grid;
	grid-template-columns: auto auto;
	gap: 0 15px;
}
.character-skills__skill{
	font-size: 1.5rem;
	text-decoration-line: underline;
	color: #bbb;
}
.character-skills__perk li {
	font-size: 1.3rem;
	list-style-position: inside;
}
.info-win__character-skills-section {
	display: flex;
	flex-wrap: wrap;
	gap: 10px 20px;
	white-space: nowrap;
}
.info-win__character-skills-section div {
	margin-bottom: auto;
}
.info-win__item-info-section {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.item-info {
	width: calc(50% - 5px);
	height: min-content;
	padding: 5px;
	border: 2px solid transparent;
	border-radius: 4px;
	background-color: #222831;
	transition: background-color .3s ease, border-color .3s ease;
}
@media (hover: hover) {
	.item-info:hover {
		background-color: #121212;
		border-color: orangered;
	}
}
.item-info--highlight {
	background-color: #121212;
	border-color: orangered;
}
.showcase__slot {
	transition: box-shadow .3s ease;
}
@media (hover: hover) {
	.occupied.showcase__slot:hover {
		box-shadow: 0px 0px 5px 5px orangered;
	}
}
.showcase__slot--highlight {
	box-shadow: 0px 0px 5px 5px orangered;
}
.item-info__h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 10px;
	width: 85%;
	padding-bottom: 3px;
	margin: auto;
	border-bottom: 2px solid gray;
}
.item-info__name, .item-info__slot {
	font-variant: all-small-caps;
	letter-spacing: 2px;
}
.item-info__name {
	font-size: 1.6rem;
}
.item-info__slot {
	font-size: 1.2rem;
}
.item-info__params {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: auto;
	margin-bottom: 5px;
}
.item-info__other-param, .item-info__weight {
	display: inline-block;
	font-variant: all-small-caps;
	color: #bbb;
	font-size: 1.4rem;
	letter-spacing: 1px;
	vertical-align: top;
}
.item-info__other-value, .item-info__weight-value {
	display: inline-block;
	font-size: 1.7rem;
}
.item-info__ench {
	text-align: center;
	width: 85%;
	margin: auto;
	color: #bbb;
	font-size: 1.3rem;
}
.item-info__details-wrapper {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	margin-top: 15px;
}
.item-details {
	height: min-content;
	background-color: #375c8d;
	padding: 0 10px;
	border-radius: 4px;
}
.item-details__summary {
	font-size: 1.3rem;
	list-style-type: revert;
}
@media (hover: hover) {
	.item-details__summary {
		cursor: help;
	}
}
.item-details__p {
	color: #fff;
	font-size: 1.3rem;
}
.nothing-there-yet {
	font-size: 2.5rem;
	font-variant: all-petite-caps;
	color: #bbb;
}
.info-win__statistics-section {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}
.statistics:not(:last-of-type) {
	flex: 1;
}
.statistics h3 {
	color: #bbb;
	font-size: 1.5rem;
}
.statistics p {
	font-size: 1.3rem;
	margin-bottom: 15px;
}
.statistics h4 {
	font-size: 1.6rem;
	line-height: 1.6rem;
	margin-bottom: 5px;
}
.statistics hr {
	height: 3px;
	margin-bottom: 15px;
	border: none;
	background-image: linear-gradient(to right, #bbb, transparent);
}
.statistics dl {
	display: grid;
	grid-template-columns: min-content auto;
	gap: 0 40px;
}
.statistics dt {
	color: #bbb;
	font-size: 1.4rem;
	text-decoration-line: underline;
	white-space: nowrap;
}
.statistics dd {
	font-size: 1.6rem;
	white-space: nowrap;
}
.statistics canvas:not(:last-child) {
	display: block;
	margin-bottom: 5px;
}
.passive-effects__dl {
	display:  grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px 15px;
}
.passive-effects__term {
	justify-self: end;
	font-size: 1.5rem;
	color: #bbb;
	white-space: nowrap;
	text-decoration-line: underline;
}
.passive-effects__desc {
	font-size: 1.5rem;
}
@media screen and (max-width: 1699px) {
	.statistics:not(:last-of-type) {
		flex: calc(50% - 20px);
	}
}
@media screen and (max-width: 1599px) {
	.passive-effects__dl {
		grid-template-columns: auto auto;
	}
}
@media screen and (max-width: 1499px) {
	.statistics:not(:last-of-type), .statistics:last-of-type {
		flex: 100%;
	}
}
@media screen and (max-width: 1279px) {
	.info-win__statistics-section {
		flex-wrap: nowrap;
	}
	.statistics:not(:last-of-type) {
		flex: 1;
	}
	.statistics:last-of-type {
		flex: initial;
	}
}
@media screen and (max-width: 1023px) {
	.info-win__statistics-section {
		flex-wrap: wrap;
	}
	.statistics:not(:last-of-type) {
		flex: calc(50% - 20px);
	}
}
@media screen and (max-width: 819px) {
	.statistics:not(:last-of-type), .statistics:last-of-type {
		flex: 100%;
	}
}
@media screen and (max-width: 639px) {
	.build-information {
		min-width: initial;
	}
	.current-character {
		display: grid;
		grid-template-columns: auto;
	}
	.current-character__dl {
		display: grid;
		grid-template-columns: 85px auto;
		text-align: left;
		gap: 0 40px;
	}
	.current-character dt {
		white-space: nowrap;
	}
	.info-win-tabs {
		display: grid;
		grid-template-columns: auto auto;
		justify-content: space-between;
		gap: 15px;
	}
	.info-win-tabs__tab {
		width: 100%;
	}
	.item-info {
		width: 100%;
	}
}