@charset "UTF-8";
html {
	font-size: 16px;
}
*, *::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	//-webkit-user-select: none;
	//-ms-user-select: none;
	//-moz-user-select: none;
	//user-select: none;
	font: 1rem Futura, Arial, sans-serif;
	color: #fff;
	list-style-type: none;
}
:root {
	--color-background: #121212;
	--color-surface: #171717;
	--color-cancel-bg: #d3d3d3;
	--color-cancel-hover-bg: #fd4444;
	--color-cancel-active-bg: #b50202;
	--color-primary-bg: #0b91c8;
	--color-primary-hover-bg: #008000;
	--color-primary-active-bg: #006400;
	--color-menu-heading-bg: #e6de70;
	--color-menu-heading: #000;
}
::-webkit-scrollbar {
  background: #15171d;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
	background: #717275;
	border-radius: 4px;
}
input:focus, select:focus {
	outline: solid orange 2px;
	outline-offset: -2px;
}
body {
	background: var(--color-background);
}
button {
	border: none;
}
button:hover {
	cursor: pointer;
}
svg {
	display: block;
}
.decoration {
	border: 2px solid #4c658c;
	background: #15191f;
	border-radius: 4px;
}
.minor-text {
	color: #bbb;
	font-size: 1.2rem;
	padding-bottom: 2px;
}
.hidden {
	display: none !important;
}
.invisible {
	visibility: hidden;
}
.selected-build, .icons__skill-icon--selected {
	border-color: orange;
}
.submenu-title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 12px;
	height: 100%;
	letter-spacing: 2px;
	background: var(--color-menu-heading-bg);
	border-radius: 4px;
	font: 1.7rem "Futura Bold";
	color: var(--color-menu-heading);
}
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.9);
	backdrop-filter: blur(4px);
	z-index: 1;
}

/* Heading */
header {
	display: grid;
	grid-template-columns: 25px min-content auto;
	align-items: center;
	gap: 10px 5px;
	background: var(--color-surface);
	padding: 5px;
	margin: 0 0 10px 0;
}
header h1 {
	font: 2rem Catwalzhari;
	white-space: nowrap;
}


.close-window {
	background-color: transparent;
	border-radius: 4px;
}
.close-window:hover path {
	fill: #fff;
}
.close-window:active path {
	fill: red;
}


/* Main field */
main {
	display: flex;
	position: relative;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 0 10px;
	background: var(--color-surface);
	padding: 5px;
	margin: 0 0 10px 0;
	transition: margin-right .4s ease-out;
}

aside {
	display: flex;
	position: relative;
	padding: 5px;
	width: 100%;
	background: var(--color-surface);
}
aside dl {
	display: grid;
	//max-width: 1000px;
	//grid-template-columns: repeat(5, auto);
	//grid-template-rows: auto auto auto;
	//grid-auto-flow: column;
	grid-template-columns: repeat(4, auto auto);
	grid-template-rows: auto auto auto auto;
	gap: 0 20px;
	//justify-content: start;
	padding: 5px 15px;
}
aside dl * {
	font: 1.2rem Balgruf;
}
dl dt:nth-child(3), dl dt:nth-child(7) {
	//margin-left: 50px;
}

/* CHARACTER INFO */
#charInfoContainer {
	min-width: 600px;
	width: 100%;
	height: 627px;
}
.current-build-info {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
	height: min-content;
	padding: 5px;
}
.current-build-info p {
	font-size: 1.5rem;
}
.right-col {
	text-align: right;
}
.middle-col {
	text-align: right;
}
.left-col {
	overflow: hidden;
}
.left-col p {
	overflow: hidden;
	text-overflow: ellipsis;
}
.character-information {
	padding: 5px;
	height: 545px;
	//overflow-y: scroll;
	margin-top: 10px;
}
.character-information h2 {
	letter-spacing: 1px;
	font-size: 1.6rem;
}
.character-information h3 {
	font-size: 1.3rem;
	margin-bottom: 10px;
}
.character-information h3 span {
	letter-spacing: 1px;
	font-size: 1.5rem;
	font-variant: small-caps;
}
.character-information p {
	color: #bbb;
	font-size: 1.3rem;
}
.character-information span:not(.item-card__name span) {
	font-size: 1.3rem;
}
.character-information-wrapper {
	height: 100%;
	padding-right: 5px;
	overflow-y: scroll;
}
#descriptionContainer {
	//padding-right: 5px;
	//height: 80%;
	//overflow-y: scroll;
}
.itemInformation {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	gap: 10px 20px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-bottom: 2px groove grey;
}
.itemInformation p:first-child {
	//grid-area: 1/span 3;
}

/* Chosen items window */
#statistics {
	position: relative;
	grid-area: 1/2/3/3;
	height: min-content;
	transition: margin-right .3s ease-out;
}
#statistics.moveLeft {
	margin-right: 580px;
}
#equippedItemsContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	gap: 10px;
	width: max-content;
}
#equippedItemsContainer div {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 141px;
	height: 141px;
	border: 1px solid grey;
	overflow: hidden;
	border-radius: 4px;
}
#equippedItemsContainer p {
	font-size: 1.6rem;
	font-variant-caps: all-small-caps;
	letter-spacing: 2px;
	opacity: .7;
}
#equippedItemsContainer div button {
	position: absolute;
	width: 100%;
	bottom: -33px;
	font-size: 1.6rem;
	letter-spacing: 1px;
	background: rgba(100, 100, 100, .4);
	transition: .3s;
}
#equippedItemsContainer div button.show {
	bottom: 0;
}
#equippedItemsContainer div button:hover {
	background: rgba(120, 120, 120, .6);
}
#equippedItemsContainer div button:active {
	background: rgba(180, 180, 180, .6);
}
#equippedItemsContainer #headSlot {
	width: 161px;
	height: 161px;
	grid-area: 1/2/2/3;
}
#equippedItemsContainer #bodySlot {
	width: 201px;
	height: 201px;
	grid-area: 2/2/3/3;
}
#equippedItemsContainer #armsSlot {
	grid-area: 3/1/4/2;
	justify-self: end;
	align-self: start;
}
#equippedItemsContainer #legsSlot {
	width: 161px;
	height: 161px;
	grid-area: 3/2/4/3;
}
#equippedItemsContainer #backSlot {
	grid-area: 3/3/4/4;
	justify-self: start;
	align-self: start;
}
#equippedItemsContainer #rightSlot {
	width: 161px;
	height: 161px;
	grid-area: 2/1/3/2;
}
#equippedItemsContainer #leftSlot {
	width: 161px;
	height: 161px;
	grid-area: 2/3/3/4;
}
#equippedItemsContainer #neckSlot {
	grid-area: 1/1/2/2;
	justify-self: end;
	align-self: end;
}
#equippedItemsContainer #fingerSlot {
	grid-area: 1/3/2/4;
	justify-self: start;
	align-self: end;
}

/* ITEMS DESCRIPTION */
.itemDescr {
	display: grid;
	grid-template-columns: 2.5fr 1fr 1fr;
	margin-left: 15px;
}
.itemDescr * {
	color: #bbb;
	font-size: .9rem;
}

/* Two-big-buttons */
.main-buttons {
	position: relative;
	height: min-content;
	width: min-content;
	margin-left: auto;
}
.main-buttons div {
	position: relative;
}
.main-buttons div:first-child {
	margin-bottom: 20px;
}
.main-buttons button {
	min-width: 200px;
	height: 60px;
	//border-radius: 4px;
	//background: #088a78;
	font-size: 1.4rem;
	font-weight: bold;
	letter-spacing: 1px;
}
.main-buttons .main-buttons__builds {
	letter-spacing: 5px;
	font-size: 2rem;
}
.main-buttons .main-buttons__customization {
	letter-spacing: 2px;
	font-size: 1.6rem;
	font-weight: normal;
}
.main-buttons__builds:disabled, .main-buttons__customization:disabled {
	//opacity: .5;
	//cursor: not-allowed;
}
.main-buttons__builds.manageBuildsBtn--selected, .main-buttons__customization.customizeBuildsBtn--selected {
	border-color: orange;
}
.main-buttons button:hover {
	//background: var(--color-cancel-hover-bg);
	border-color: orangered;
}
.main-buttons button:active {
	//background: var(--color-cancel-active-bg);
	border-color: red;
	background-color: #12151a;
}
.warning {
	position: absolute;
	top: 50%;
	transform: translate(-110%, -50%);
	padding: 2px 7px;
	border-radius: 4px;
	text-align: center;
	color: #000;
	background: #fff;
	white-space: nowrap;
	font-size: 1.5rem;
}
.warning::before {
	content: "";
	position: absolute;
	border: 9px solid;
	border-color: transparent transparent transparent #fff;
	left: 100%;
	transform: translateY(50%);
	bottom: 50%;
}

/* CANVAS */
#diagram {
	border: 1px solid grey;
}
canvas {
	border: 1px solid red;
}

/* MY BUILDS */
.builds-container, .customization-container {
	position: fixed;
	width: 570px;
	height: 627px;
	padding: 5px;
	//right: 5px;
	right: -575px;
	transition: right .3s ease-out;
}
.builds-container--slide-left, .customization-container--slide-left {
	transition: right .3s ease-out;
	//right: -575px;
	right: 5px;
}
.builds-container--slide-right, .customization-container--slide-right {
	transition: right 0s ease-out;
	right: -575px;
	//right: 5px;
}
.builds-container--on-top, .customization-container--on-top {
	z-index: 1;
}
.header {
	display: grid;
	grid-template-columns: 50% auto;
	margin-bottom: 10px;
}
.header--builds {
	grid-template-columns: 50% auto auto;
	gap: 0 10px;
}
.header button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	height: 35px;
}
#noBuildsYet, .buildInfo {
	padding: 5px;
}
#noBuildsYet {
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 1.5rem;
}
#closeBuildsBtn {
	width: 80px;
}
.closeBtn {
	justify-self: end;
	font: 1.5rem "Futura Bold";
	color: #000;
	background: var(--color-cancel-bg);
}
.closeBtn:hover {
	background: var(--color-cancel-hover-bg);
	color: #fff;
}
.closeBtn:active {
	background: var(--color-cancel-active-bg);
	color: #fff;
}
#addNewBuildBtn {
	min-width: 70px;
	background: var(--color-primary-bg);
}
#addNewBuildBtn:hover {
	background: var(--color-primary-hover-bg);
}
#addNewBuildBtn:active {
	background: var(--color-primary-active-bg);
}
#newBuildsContainer {
	display: grid;
	gap: 5px 0;
	overflow-y: scroll;
	max-height: calc(100% - 45px);
}

.myBuild {
	display: grid;
	grid-template-rows: min-content;
	grid-template-columns: auto auto min-content;
	position: relative;
	align-items: center;
	margin-right: 5px;
}
.buildInfo {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 30px;
	grid-area: 1/1/2/3;
	align-items: center;
	position: relative;
	width: 100%;
	color: #fff;
	z-index: 1;
}
.buildInfo p {
	font-size: 1.5rem;
}
.buildInfo .right-col {
	justify-self: start;
	text-align: start;
}
.buildInfo .middle-col {
	justify-self: center;
	text-align: start;
}
.buildInfo:hover {
	border-color: orangered;
	cursor: pointer;
}
.buildInfo:active {
	background-color: #12151a;
	border-color: red;
}
.buildInfo:last-of-type, .options {
	margin-bottom: 0;
}
.optionsButton {
	position: relative;
	grid-area: 1/2;
	justify-self: end;
	right: 7px;
	background-color: transparent;
	padding: 5px;
	border-radius: 30%;
	z-index: 1;
}
.optionsButton:hover {
	background-color: #555;
}
.optionsButton:active {
	background-color: #767676;
}
.options {
	display: flex;
	flex-direction: column;
	grid-area: 1/3;
	justify-content: center;
	align-items: : center;
	position: relative;
	left: -3px;
	width: 0px;
	height: 100%;
	overflow: hidden;
	background: var(--color-cancel-bg);
	border: none;
	border-radius: 0 4px 4px 0;
	transform-origin: left;
	transition: width .15s;
}
.toggleOptions {
	width: 80px;
}
.options button {
	width: 50px;
	margin: auto;
	background: transparent;
	border-radius: 4px;
	color: #000;
	font-size: 1.3rem;
}
.options button:hover {
	cursor: pointer;
	color: #fff;
	background: var(--color-cancel-hover-bg);
	border-radius: 4px;
}
.options button:active {
	color: #fff;
	background: var(--color-cancel-active-bg);
}
/* CUSTOMIZATION */


#closeCustomizeBtn {
	border-radius: 4px;
	width: 90px;
	height: 35px;
}
#customizationMenu {
	display: flex;
	flex-direction: column;
	gap: 5px 0;
	max-height: calc(100% - 45px);
	overflow-y: scroll;
}
#customizationMenu>div {
	margin-right: 5px;
}
#customizationMenu>div>button {
	letter-spacing: 2px;
	font: 1.6rem "Futura";
	font-variant: small-caps;
	width: 100%;
	padding: 5px;
	color: #fff;
}
#customizationMenu>div>button:hover {
	letter-spacing: 3px;
}
#customizationMenu>div>button:active {
	background-color: #12151a;
}
#customizationMenu button:hover {
	border-color: orangered;
}
#customizationMenu button:active {
	border-color: red;
}
#customizationMenu>div>div {
	width: 80%;
	margin: auto;
	border-top: none;
	margin-top: 3px;
}
#customizationMenu>div>div.appear {
	transform: scaleY(1);
}
#customizationMenu>div>div>button {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
	border: 2px solid transparent;
	background-color: transparent;
	font-size: 1.5rem;
	letter-spacing: 1px;
}
#customizationMenu>div>div>button:hover {
	letter-spacing: 2px;
	border: 2px solid orangered;
	border-radius: 4px;
}
#customizationMenu>div>div>button:active {
	background-color: #12151a;
	border-color: red;
}
#weapons h3 {
	letter-spacing: 2px;
	margin-bottom: 5px;
	font-variant-caps: all-small-caps;
	font-size: 1.4rem;
	text-align: center;
	opacity: .8;
}

/* Create character menu */
#closeBlock {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
}
#buildSubmenu {
	display: grid;
	grid-auto-rows: min-content;
	grid-template-columns: 240px auto;
	gap: 0 20px;
	position: fixed;
	padding: 10px 20px 15px;
	z-index: 3;
	left: 50%;
	top: 100px;
	transform: translateX(-50%);
	//top: 50px;
	width: min-content;
	height: min-content;
}
#nameYourBuildLabel {
	color: #fff;
	grid-area: 1/span 2;
	margin-bottom: 5px;
	font-size: 1.4rem;
}
#nameYourBuild {
	grid-area: 2/span 2;
	background-color: #000;
	padding: 5px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 1.4rem;
}
#nameYourBuild.checkValidity:invalid {
	outline: solid red 2px;
	outline-offset: -2px;
}
#racesLabel {
	color: #fff;
	grid-area: 3/span 2;
	margin-bottom: 5px;
	font-size: 1.4rem;
}
#races {
	grid-area: 4/span 2;
	background-color: #000;
	padding: 5px;
	color: #fff;
	margin-bottom: 10px;
	font-size: 1.4rem;
}
option {
	font: 1.4rem "Futura Bold";
}
#races.checkValidity:invalid {
	outline: solid red 2px;
	outline-offset: -2px;
}
#cancelBuild {
	grid-area: 5/1;
	justify-self: end;
	background: var(--color-cancel-bg);
	color: #000;
}
#cancelBuild:hover {
	background: var(--color-cancel-hover-bg);
	color: #fff;
}
#cancelBuild:active {
	background: var(--color-cancel-active-bg);
}
#saveBuild {
	grid-area: 5/2;
	justify-self: end;
	letter-spacing: 2px;
	background: var(--color-primary-bg);
	color: #fff;
}
#saveBuild:hover {
	background: var(--color-primary-hover-bg);
}
#saveBuild:active {
	background: var(--color-primary-active-bg);
}
#cancelBuild, #saveBuild {
	width: 70px;
	padding: 5px;
	border-radius: 4px;
	font-size: 1.5rem;
}
#saveBuild {
	width: 90px;
}

/* Rename and delete menu */
#renameBuildContainer, #deleteBuildContainer, #buildSubmenuContainer, #equipItemContainer {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#renameBuildWindow, #deleteBuild {
	display: grid;
	position: fixed;
	grid-template-columns: 250px min-content;
	padding: 10px 15px;
	border-radius: 7px;
	height: min-content;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	gap: 0 10px;
}
#renameBuildWindow button {
	padding: 5px;
	border-radius: 4px;
	font-size: 1.4rem;
}
#renameBuildWindow button:first-of-type {
	grid-area: 3/1;
	justify-self: end;
	width: 60px;
	background: var(--color-cancel-bg);
	color: #000;
}
#renameBuildWindow button:last-of-type {
	grid-area: 3/2;
	width: 90px;
	background: var(--color-primary-bg);
	color: #fff;
	letter-spacing: 2px;
}
#renameBuildWindow button:first-of-type:hover {
	background: var(--color-cancel-hover-bg);
	color: #fff;
}
#renameBuildWindow button:first-of-type:active {
	background: var(--color-cancel-active-bg);
}
#renameBuildWindow button:last-of-type:hover {
	background: var(--color-primary-hover-bg);
}
#renameBuildWindow button:last-of-type:active {
	background: var(--color-primary-active-bg);
}
#renameBuildWindow label {
	grid-area: 1/1;
	color: #fff;
	margin-bottom: 5px;
	font-size: 1.5rem;
}
#renameYourBuild {
	grid-area: 2/1/2/3;
	padding: 5px;
	border-radius: 4px;
	border: 2px solid #5b6c87;
	background-color: #000;
	color: #fff;
	margin-bottom: 10px;
	font-size: 1.5rem;
}
#renameYourBuild.checkValidity:invalid {
	outline: solid red 2px;
	outline-offset: -2px;
}
#renameYourBuild:focus {
	outline: none;
	border-color: orange;
}
#renameYourBuild::placeholder {
	opacity: 1;
	color: red;
}
#deleteBuild {
	gap: 20px 10px;
}
#deleteBuild p {
	grid-area: 1/span 2;
	color: #fff;
	font-size: 1.5rem;
}
#deleteBuild span {
	display: inline-block;
	overflow: hidden;
	vertical-align: bottom;
	text-overflow: ellipsis;
	max-width: 220px;
	font-size: 1.5rem;
}
#deleteBuild button {
	width: min-content;
	justify-self: end;
	border-radius: 4px;
	color: #fff;
	width: 60px;
	padding: 5px;
	font-size: 1.4rem;
}
#deleteBuild button:last-of-type {
	grid-area: 2/2;
	width: 90px;
	background: var(--color-primary-bg);
	color: #fff;
	letter-spacing: 2px;
}
#deleteBuild button:last-of-type:hover {
	background: var(--color-primary-hover-bg);
}
#deleteBuild button:last-of-type:active {
	background: var(--color-primary-active-bg);
}
#deleteBuild button:first-of-type {
	grid-area: 2/1;
	background: var(--color-cancel-bg);
	color: #000;
}
#deleteBuild button:first-of-type:hover {
	background: var(--color-cancel-hover-bg);
	color: #fff;
}
#deleteBuild button:first-of-type:active {
	background: var(--color-cancel-active-bg);
}